@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
#hero{
    height: 650px;
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 29px;
    
}
#hero .hero-content{
    width: 908px;
    margin: 0 auto;

}
#hero .hero-content .tittle{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 43px;
font-weight: 728;
line-height: 62px;
letter-spacing: 0%;
text-align: center;
}
#hero .hero-content .description{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 14px;
font-weight: 364;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
opacity: .7;
}
#hero .hero-content .btn{
    border-radius: 8px;
background: rgb(13, 19, 33);
width: 200px;
height: 63px;
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 546;
line-height: 21px;
letter-spacing: 0%;
text-align: center;
cursor: pointer;
}
.btn-cont{
    text-align: center;
}
.pic{
    text-align: center;
    height: 218px;
    border: none;
}

.parent{
    border-radius: 16px;
background: rgba(13, 19, 33, 0.02);
position: absolute;
width: 912px;
height: 1190px;
left: 148px;
right: 152px;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 72px 80px 72px 80px;
gap: 30;
}
.parent .box{
    border-radius: 16px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
position: static;
width: 800px;
height: 200px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 48px;
gap: 30pxr;
}
.learn{
    box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
position: static;
width: 135px;
height: 42px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 28px 10px 18px;

flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;
cursor: pointer;
}

.parent .tittle{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 22px;
font-weight: 685;
line-height: 34px;
letter-spacing: 0%;
text-align: left;
}

.parent .subtitle{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 14px;
font-weight: 3850;
line-height: 23px;
letter-spacing: 0%;
text-align: left;
opacity: .7;
}
.parent .head{
    width: 840px;
    height: 110px;
    text-align: center;
    align-items: center;
    padding: 44px;
}

.video{
    border-radius: 16px;
background: rgba(13, 19, 33, 0.02);
position: absolute;
width: 970px;
height: 705px;
left: 126px;
right: 127px;
top: 2000px;
bottom: 1938px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;

padding: 72px 88px 72px 88px;
}
.video .layer{
    border-radius: 16px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
position: static;
width: 800px;
height: 200px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 48px;
gap: 30pxr;
}
.video .ti1{
    position: static;
width: 845px;
height: 108px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}

.video .sub1{
    position: static;
width: 845px;
height: 46px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: .7;
}

#card-box{
    position: absolute;
width: 860px;
height: 600px;
left: 126px;
right: 126px;
top: 2972px;
bottom: 542px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 10px;
}
#card-box .title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
#card-box .subtitle{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: .7;
}
.card-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-family: Work Sans;
}
.card{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    position: static;
width: 305px;
height: 272px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 24px;
}

.card2{
    border-radius: 16px;
background: rgba(0, 76, 232, 0.05);
width: 305px;
height: 272px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 24px;
}
.card .image-box{
    width: 248px;
}
.card .image-box img{
    width: 100%;
}
.card .shop{
    padding: 10px 17px 10px 17px;
    background: rgba(82, 195, 3, 0.15);
}

.a{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;

}
.ti2{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}

.sub2{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: .7;
}

.back{
    background-image: url(../assets/handshake.jpg);
    border-radius: 16px;
background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
position: absolute;
width: 957px;
height: 286px;
left: 126px;
right: 126px;
top: 4182px;
bottom: 160px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 60px 45px 60px 45px;
}
.ti5{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
}
.sub5{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}

.search{
    position: static;
    width: 684px;
    height: 58px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    flex: none;
order: 1;
flex-grow: 0;
margin: 24px 0px;
}
.sr{
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgb(255, 255, 255);
position: static;
width: 548px;
height: 57px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 19px 20px 19px 20px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 16px;

}
.btn5{
    border-radius: 8px;
background: rgb(255, 255, 255);
position: static;
width: 120px;
height: 58px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 17px 20px 17px 20px;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 16px;
}

.last{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    left: 0;
    top: 4322px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 29px 136px 329px 136px;
    position: absolute;
width: 1209px;
height: 92px;
left: 0;
top: 4682px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 29px 136px 329px 136px;

    
}
.foot{
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 32px 0px;
    position: static;
width: 958px;
height: 300x;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;

}
.lasttitle{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}